<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UIBA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <UIBA.My.MySettings>
            <setting name="Logs" serializeAs="String">
                <value />
            </setting>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="usuario" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="basedatos" serializeAs="String">
                <value>investigacion</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="g1valorx_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="g1valorx_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="g1valory_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="g1valory_max" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="g2valorx_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="g2valorx_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="g2valory_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="g2valory_max" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="tipo_grafica" serializeAs="String">
                <value>FastLine</value>
            </setting>
        </UIBA.My.MySettings>
    </userSettings>
</configuration>
